/*MASONRY GRID ANIMALS*/
.masonry-container{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.photo-gallery{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;

    box-shadow: 5px 5px 8px 3px #1515157b;
}


/*STUPID GRID EASTERN*/
.gallery{
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.gallery img{
    border-radius: 20px;

    box-shadow: 5px 5px 8px 3px #1515157b;
}

.v-stretch{
    grid-row: span 2;
}

.h-stretch{
    grid-column: span 2;
    object-fit: cover;
}

.big-stretch{
    grid-row: span 2;
    grid-column: span 2;
    object-fit: cover;
}

.gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: 5px 5px 8px 3px #1515157b;
}


/*TEST GRID FLOWERS*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.grid-gallery{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 500px));
    grid-template-rows: auto;
    grid-gap: 5px;
    width: 80%;
}

.grid-gallery img{
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 20px;

    box-shadow: 5px 5px 8px 3px #1515157b;
}


/*PEOPLE*/
.police{
    grid-column: 2/4;
    grid-row: 3/4;
}
.tangerang{
    grid-column: 1/2;
    grid-row: 5/6;
}.jakarta{
    grid-column: 1/2;
    grid-row: 3/4;
}
.mary{
    grid-column: 1/4;
    grid-row: 1/2;
}
.momay{
    grid-column: 2/3;
    grid-row: 2/3;
}
.nykroppa{
    grid-column: 1/2;
    grid-row: 4/5; 
}
.kim{
    grid-column: 2/4;
    grid-row: 4/6; 
}
.bandung{
    grid-column: 3/4;
    grid-row: 2/3;
}

.hulkoff{
    grid-column: 1/2;
    grid-row: 2/3;
}


/*SWEDEN*/
.winter1{
    grid-column: 2/4;
    grid-row: 1/3;
}
.winter2{
    grid-column: 1/4;
    grid-row: 7/9;
}
.car{
    grid-column: 1/2;
    grid-row: 1/3;
}
.night{
    grid-column: 1/2;
    grid-row: 6/7;
}
.helicopter{
    grid-column: 1/4;
    grid-row: 3/6;
}
.figure{
    grid-column: 3/4;
    grid-row: 6/7;
}

.castle{
    grid-column: 2/3;
    grid-row: 6/7;
}


/*WEST*/
.coloseum{
    grid-column: 1/4;
    grid-row: 1/2;
}
.cathedral{
    grid-column: 1/2;
    grid-row: 2/4;
}
.liberty{
    grid-column: 2/3;
    grid-row: 2/3;
}
.bike{
    grid-column: 2/3;
    grid-row: 3/4;
}
.chrysler{
    grid-column: 3/4;
    grid-row: 4/6;
}
.eus{
    grid-column: 1/2;
    grid-row: 4/5;
}
.niagara{
    grid-column: 2/3;
    grid-row: 4/5;
}
.vatican{
    grid-column: 3/4;
    grid-row: 4/5;
}
.manhattan{
    grid-column: 1/4;
    grid-row: 5/7;
}

.tallinn{
    grid-column: 3/4;
    grid-row: 2/4;
}